# version: '3.8'

services:
  # 연결할때 이 이름을 사용 postgres:
  postgres:
    image: postgres:18-alpine
    container_name: realtime-chat-db
    restart: always

    # [핵심] 여기에 파일을 지정하면, 파일 내 변수들이 컨테이너의 환경변수로 자동 매핑됩니다.
    # 우선순위: environment > env_file
    env_file:
      - ./backend/.env.${NODE_ENV:-dev}
      # ${NODE_ENV:-dev} 문법 설명:
      # 외부에서 NODE_ENV가 주어지면 그 값(prod 등)을 쓰고, 없으면 기본값 'dev'를 사용함.
    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
